parameters:
	user:
		entity: MatiCore\User\BaseUser

services:
	satraGlobalPackage.security.userManager: MatiCore\User\UserManager(%user%)
	- MatiCore\User\UserManagerAccessor
	- MatiCore\User\UserInicializeCommand
	- MatiCore\User\UserGroupCreateCommand
	- MatiCore\User\UserCreateCommand
	- MatiCore\User\Authorizator

orm.annotations:
	paths:
		MatiCore\User: %appDir%/../vendor/satraglobal-package/user/src/Entity

extensions:
	doctrine2identity: MatiCore\User\IdentityExtension
	user: MatiCore\User\UserExtension